* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1920px;
  height: 44px;
  flex-shrink: 0;
}
.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  background-color: #000;
}
.img {
  padding: 14px;
  margin-left: 405px;
}
.nav-items {
  color: var(--gray, #969696);
  font-family: PT Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.container-1 {
  background-color: #0f0f0f;
  width: 1920px;
  height: auto;
  flex-shrink: 0;
}
.porten {
  color: #fff;
  font-family: Post No Bills Jaffna;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 15px;
  margin-left: 405px;
}
.img-1 {
  padding: 15px;
  margin-right: -256px;
}
.login {
  color: var(--gray, #969696);
  text-align: right;
  font-family: PT Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 400px;
}
.like {
  color: #fff;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 31px;
  margin-left: -500px;
}
.nav-1 {
  display: flex;
  justify-content: space-between;
}
.cabinet {
  color: var(--gray, #969696);
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 31px;
  margin-left: -1200px;
}
.settings {
  color: var(--gray, #ffffff);
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 31px;
  margin-left: 100px;
}
.rasm {
  background-image: url(../photos/png.png);
  max-width: 1920px;
  height: 800px;
}
.text-product {
  color: #fff;
  text-align: center;
  font-family: Post No Bills Jaffna;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  box-shadow: #ffffff;
  text-align: center;
}
.blackds {
  width: 960px;
  height: 730px;
  flex-shrink: 0;
}
.pic {
  margin-right: 960px;
}
.clocks {
  flex-basis: 30%;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.45);
  border-radius: 8px;
  overflow: hidden;
}
.part-1 {
  display: flex;
}

.fleex {
  display: flex;
  max-width: max-content;
}
.chuvak {
  width: 960px;
  height: 730px;
  flex-shrink: 0;
}

.muchacho {
  width: 960px;
  height: 730px;
  flex-shrink: 0;
}
.ekran {
  background: #000;
  width: 1920px;
}
.nad {
  color: var(--white, #fff);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.button {
  background-color: #000;
  color: antiquewhite;
  text-align: center;
}
